body {
  justify-content: center;
  align-items: center;
  background: #000000;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(255,255,255,0.1);
  border: 2px solid cyan;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;

  box-shadow: 0 10px 40px -10px #087bf5b0;
 
  border-radius: 100px;
  background: #13c8f5;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}