
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #333, #111);
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

nav .active a,
nav .active a:hover {
    border-color: #ffcc00;
    color: #ffcc00;
}

main {
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    font-size: 28px;
    margin-top: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    background: linear-gradient(to bottom, #333, #111);
    color: #fff;
    text-align: center;
    padding: 10px;
}
